@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 300 700;
    /*font-display: swap;*/
    src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --font-display: "Quicksand", "sans-serif";
    --default-font-family: "Quicksand";
    /* ... */
}

@layer utilities {

    .prose {
        max-width: none;
    }

    .prose ul > li::marker {
        color: #000;
    }
}

/*body::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url('/background.JPEG');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    filter: blur(16px) grayscale(100%);*/
/*    z-index: -1;*/
/*}*/
